<mat-card>
  <span> Create New Entry! </span>
  <form [formGroup] = "entryForm" > 
      <!-- (ngSubmit) ="onSubmit()" -->
    <mat-form-field class="entry-field">
      <input matInput placeholder="Entry Description..." formControlName = "description">
    </mat-form-field>
    <mat-form-field class="entry-field">
      <mat-select placeholder="Entry Type" formControlName = "isExpense">
        <mat-option *ngFor = "let type of types" [value] = "type.value">
          {{type.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="entry-field">
      <input matInput placeholder="Entry Value" formControlName = "value">
    </mat-form-field>

    <button mat-raised-button [disabled]="!entryForm.valid" (click)="onSubmit()"> Create New! </button>
    <button mat-raised-button color="warn" (click)="cancel()"> Cancel</button>
  </form>
</mat-card>